<!DOCTYPE html>
<html lang="en">
  <head>
    <h1>Snazzy Quiz Lounge</h1>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SQL</title>
    {{!-- <link rel="stylesheet" href="../../public/css/style.css" />
    <link rel="stylesheet" href="../../public/assets/css/quiz.css" /> --}}
  </head>
  <body>
    <div class="topnav">
      <a href="#home">Home</a>
      <a href="#quiz">Quiz</a>
      <a href="#score">Scoreboard</a>
    </div> 
    {{!-- <img src="../../public/assets/Quiz.jpeg"> --}}

   
    {{{body}}}

     {{!-- <script src="../../quiz_routes/index.js"></script> --}}
  </body>
</html>