        <form id="createQuizTable">
            <table>
            <select name="numQuestions" class="form-select" aria-label="Default select example">
                <option selected>Number of Questions</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
              <select name="category" class="form-select" aria-label="Default select example">
                <option selected>Category</option>
                <option value="20">Mythology</option>
                <option value="21">Sports</option>
                <option value="22">Geography</option>
                <option value="23">History</option>
                <option value="24">Polotics</option>
                <option value="25">Art</option>
                <option value="26">Celebrities</option>
                <option value="27">Animals</option>
                <option value="28">Vehicles</option>
              </select>
              <select name="difficulty" class="form-select" aria-label="Default select example">
                <option selected>Difficulty</option>
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
              </select>
              <select name="type" class="form-select" aria-label="Default select example">
                <option selected>Type</option>
                <option value="multiple">Multiple Choice</option>
                <option value="boolean">True/False</option>
              </select>
            </table>
            <br>
              <input class="btn btn-primary" type="submit" value="Submit">
            
          </form>