<!DOCTYPE html>
<html lang="en">
    <title>Home</title>
    <link rel='stylesheet' href='/css/jass.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>

    <img src="assets/Quiz_2.jpeg">

    <script src="index.js"></script>
   
  </body>
</html>