<table>
    <thead>
        <tr>
            <th>Question</th>
            <th>Option 1</th>
            <th>Option 2</th>
            <th>Option 3</th>
            <th>Option 4</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="Q1">Question</td>
            <td>Option 1</td>
            <td>Option 2</td>
            <td>Option 3</td>
            <td>Option 4</td>
        </tr>
        <tr>
            <td>Answer</td>
            <td><input type="checkbox" name="active" id="active"></td>
            <td><input type="checkbox" name="active" id="active"></td>
            <td><input type="checkbox" name="active" id="active"></td>
            <td><input type="checkbox" name="active" id="active"></td>
        </tr>

    </tbody>

</table>