<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Results</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel='stylesheet' href='/css/style.css' />
    <style>

        table {
            width: 100%;
            border-collapse: collapse;
            border: 2px solid #ddd;
            margin: 20px auto;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }
        #category-table12{
            margin: 0 auto;
            width: 30%;
            border-collapse: collapse;            
        }
    </style>
</head>

<body>
    <h1>Quiz Results</h1>
              <form id="createQuizTable">
            <table >
              <select id="category-table12" name="category" class="form-select" aria-label="Default select example">
                <option selected>Category</option>
                <option value="20">Mythology</option>
                <option value="21">Sports</option>
                <option value="22">Geography</option>
                <option value="23">History</option>
                <option value="24">Politics</option>
                <option value="25">Art</option>
                <option value="26">Celebrities</option>
                <option value="27">Animals</option>
                <option value="28">Vehicles</option>
              </select>
            </table>
              <input id="searchButton" class="btn btn-primary" type="submit" value="Search">
          </form>
    <table>
        <thead>
            <tr>
                <th>Question</th>
                <th>Correct Answer</th>
                <th>Your Answer</th>
            </tr>
        </thead>
        <tbody>
            {{#each Quiz}}
            <tr>
                <td>{{question}}</td>
                <td>{{correct_answer}}</td>
                <td>{{answer}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="/js/results.js"></script>
</body>

</html>