

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

body {
  font-family: Verdana;
  text-align: center;
}

#myButton {
  font-size: 3em;
  padding: 5px 25px;
  border-radius: 5px;
  
}

.buttons {
  padding: 10px 20px;
  font-size: 1.5em;
  color: white;
  background-color: hsl(214, 100%, 74%);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s;
  
}

.buttons:hover {
  background-color: hsl(214, 100%, 56%);
  
}

body, html {
  height: 95%;
}

/* The hero image */
.hero-image {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-image: linear-gradient(rgba(0, 0, 0, 5), rgba(0, 0, 0, 0)), url(assets/Quiz.jpeg);

/* Set a specific height */
height: 85%;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

/* Place text in the middle of the image */
.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
}